n8n_workflow_template.json
{
    "name": "Navidad Photo Album Backend (HTTP)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "aa37aa00d",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                },
                "responseMode": "responseNode"
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "webhook-upload",
            "name": "Webhook POST (Upload)",
            "webhookId": "144f11b2-e24c-4426-a266-b64aa37aa00d"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "metadata",
                            "parameterType": "json",
                            "value": "={ \"name\": \"{{ $binary.file.fileName }}\", \"parents\": [\"1A--gmLrVOdZkdypqxDSA2DJW0RZdcDC0\"] }"
                        },
                        {
                            "name": "file",
                            "parameterType": "formBinaryData",
                            "value": "file"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                0
            ],
            "id": "http-upload",
            "name": "HTTP Upload",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                450,
                0
            ],
            "id": "response-upload",
            "name": "Response Upload"
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "aa37aa00d",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                },
                "responseMode": "responseNode"
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                200
            ],
            "id": "webhook-list",
            "name": "Webhook GET (List)",
            "webhookId": "144f11b2-e24c-4426-a266-b64aa37aa00d"
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/drive/v3/files",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleDriveOAuth2Api",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "'1A--gmLrVOdZkdypqxDSA2DJW0RZdcDC0' in parents"
                        },
                        {
                            "name": "fields",
                            "value": "files(id, name, webContentLink, thumbnailLink, mimeType)"
                        },
                        {
                            "name": "pageSize",
                            "value": "1000"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                200
            ],
            "id": "http-list",
            "name": "HTTP List",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "// Transform Drive response to simple format\nconst images = items[0].json.files.map(file => ({\n  id: file.id,\n  name: file.name,\n  url: file.thumbnailLink ? file.thumbnailLink.replace('=s220', '=s1024') : file.webContentLink\n}));\n\nreturn { images };"
            },
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                450,
                200
            ],
            "id": "transform-data",
            "name": "Format JSON"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.images }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                200
            ],
            "id": "response-list",
            "name": "Response List"
        }
    ],
    "connections": {
        "Webhook POST (Upload)": {
            "main": [
                [
                    {
                        "node": "HTTP Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Upload": {
            "main": [
                [
                    {
                        "node": "Response Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook GET (List)": {
            "main": [
                [
                    {
                        "node": "HTTP List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP List": {
            "main": [
                [
                    {
                        "node": "Format JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format JSON": {
            "main": [
                [
                    {
                        "node": "Response List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}