n8n_workflow_template.json
{
    "name": "Navidad Photo Album Backend",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "aa37aa00d",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "webhook-node",
            "name": "Webhook POST (Upload)",
            "webhookId": "144f11b2-e24c-4426-a266-b64aa37aa00d"
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "aa37aa00d",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                200
            ],
            "id": "webhook-get-node",
            "name": "Webhook GET (List)",
            "webhookId": "144f11b2-e24c-4426-a266-b64aa37aa00d"
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "operation": "upload",
                "fileContent": "={{ $binary.file.data }}",
                "parentId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
                    "mode": "id"
                },
                "name": "={{ $binary.file.fileName }}"
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 2,
            "position": [
                250,
                0
            ],
            "id": "google-drive-upload",
            "name": "Google Drive Upload",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "operation": "list",
                "folderId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
                    "mode": "id"
                },
                "limit": 100,
                "options": {
                    "fields": [
                        "id",
                        "name",
                        "webContentLink",
                        "thumbnailLink"
                    ]
                }
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 2,
            "position": [
                250,
                200
            ],
            "id": "google-drive-list",
            "name": "List Files",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                450,
                0
            ],
            "id": "response-upload",
            "name": "Response Upload"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.images }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                200
            ],
            "id": "response-list",
            "name": "Response List"
        },
        {
            "parameters": {
                "functionCode": "// Transform Drive response to simple format\nconst images = items.map(item => ({\n  id: item.json.id,\n  name: item.json.name,\n  // Use thumbnailLink usually, sometimes webContentLink prompts download\n  // Replacing '=s220' in thumbnailLink gives higher res if needed\n  url: item.json.thumbnailLink ? item.json.thumbnailLink.replace('=s220', '=s1024') : item.json.webContentLink\n}));\n\nreturn { images };"
            },
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                450,
                200
            ],
            "id": "transform-data",
            "name": "Format JSON"
        }
    ],
    "connections": {
        "Webhook POST (Upload)": {
            "main": [
                [
                    {
                        "node": "Google Drive Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Drive Upload": {
            "main": [
                [
                    {
                        "node": "Response Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook GET (List)": {
            "main": [
                [
                    {
                        "node": "List Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "List Files": {
            "main": [
                [
                    {
                        "node": "Format JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format JSON": {
            "main": [
                [
                    {
                        "node": "Response List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}